{% extends 'base.html' %}

{% block title %} Dodaj książkę  {% endblock %}

{% block page %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        {{ form_genre }}

        {% if form_rating %}
            {{ form_rating }}

        {% endif %}

        {% if form_review %}
            {{ form_review }}

        {% endif %}

        {% if new %}
            <button type="submit" name="action" value="dodaj">Dodaj książkę</button>
        {% else %}
            <button type="submit" name="action" value="edit">Edytuj książkę</button>
        {% endif %}


    </form>

    {% for rating in rating %}
        <h4> Gwiazdki: {{ rating.stars }}</h4>
    {% endfor %}


    {% for review in review %}
        <h4> Treść recenzji: {{ review.text_review }}</h4>
    {% endfor %}

    <p> Inne książki tego autora {{ book.authors.first }}: </p>
    <ul>
        {% for ksiazka in book.authors.first.books_set.all %}
            <li> {{ ksiazka.title }}</li>
        {% endfor %}
    </ul>

    <a href="{% url 'add_books' %}">Cofnij</a>

{% endblock %}
